{{>header portfolio = true }}

<div class="yellow-bg">
  <div class="container">

    <div class="portfolio-wrapper flexbox">

      <div class="portfolio-left">
        <h2 class="heading-2 text-black">Portfolio Summary</h2>
        <p class="text-2 text-black mt10">
          The MUIF equity portfolio consists of investments in mid-cap and large-cap stocks across industries and
          sectors. The portfolio comprises of diversified investments with the potential to outperform the benchmark
          index in the near future. It has been carefully curated keeping in mind the risk exposures, market
          performance, and expected rate of return. Each stock recommendation goes through stringent EIC analysis and
          its future growth potential before any investment.
        </p>
      </div>

      <div class="portfolio-right tabmt20 mobmt20">
        <img src="../assets/img/portfoliodsummary.png" alt="">
      </div>

    </div>

  </div>
</div>


<section class="red-highlighted">
  <div class="container">
    <p class="text">Total amount invested: 1,61,25,390 || <br class="mob-visible"> % Gain/Loss: 4.84%</p>
  </div>
</section>

<div class="white-bg hide">
  <div class="container">

    <div class="tab-menu mb20">
      <ul>
        <li class="active-a tab-a" data-id="tab1"><a href="javascript:void(0);">Consumer Discretionary</a>
        </li>
        <li class="tab-a" data-id="tab2"><a href="javascript:void(0);">Healthcare</a></li>
        <li class="tab-a" data-id="tab3"><a href="javascript:void(0);">Consumer staples</a></li>
        <li class="tab-a" data-id="tab4"><a href="javascript:void(0);">Industrials</a></li>
        <li class="tab-a" data-id="tab5"><a href="javascript:void(0);">IT</a></li>
        <li class="tab-a" data-id="tab6"><a href="javascript:void(0);">Materials</a></li>
        <li class="tab-a" data-id="tab7"><a href="javascript:void(0);">Energy</a></li>
        <li class="tab-a" data-id="tab8"><a href="javascript:void(0);">Financials</a></li>
      </ul>
    </div>
    <!--end of tab-menu-->

    <div class="tab tab-active" data-id="tab1">
      <div class="brand-wrapper">
        <div class="brand-box">
          <img src="../assets/img/logos/dmart.png" alt="">
          <p class="text-4 text-grey ns-semibold">Avenue Supermarts</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/raneengine.png" alt="">
          <p class="text-4 text-grey ns-semibold">Rane Engine Valves</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/sonablw.png" alt="">
          <p class="text-4 text-grey ns-semibold">Sona BLW Precis.</p>
        </div>
      </div>
    </div>

    <div class="tab " data-id="tab2">
      <div class="brand-wrapper">
        <div class="brand-box">
          <img src="../assets/img/logos/divis.png" alt="">
          <p class="text-4 text-grey ns-semibold">Divi's Lab.</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/glenmark.png" alt="">
          <p class="text-4 text-grey ns-semibold">Glenmark Life</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/windlas.png" alt="">
          <p class="text-4 text-grey ns-semibold">Windlas Biotech</p>
        </div>
      </div>
    </div>

    <div class="tab " data-id="tab3">
      <div class="brand-wrapper">
        <div class="brand-box">
          <img src="../assets/img/logos/britania.png" alt="">
          <p class="text-4 text-grey ns-semibold">Britannia Industries</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/itc.png" alt="">
          <p class="text-4 text-grey ns-semibold">ITC</p>
        </div>
      </div>
    </div>

    <div class="tab " data-id="tab4">
      <div class="brand-wrapper">
        <div class="brand-box">
          <img src="../assets/img/logos/enginners.png" alt="">
          <p class="text-4 text-grey ns-semibold">Engineers India</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/kei.png" alt="">
          <p class="text-4 text-grey ns-semibold">KEI Industries</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/vguard.png" alt="">
          <p class="text-4 text-grey ns-semibold">V-Guard Industry</p>
        </div>
      </div>
    </div>

    <div class="tab " data-id="tab5">
      <div class="brand-wrapper">
        <div class="brand-box">
          <img src="../assets/img/logos/hcl.png" alt="">
          <p class="text-4 text-grey ns-semibold">HCL Technologies</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/Infosys.png" alt="">
          <p class="text-4 text-grey ns-semibold">Infosys</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/niit.png" alt="">
          <p class="text-4 text-grey ns-semibold">NIIT</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/tcs.png" alt="">
          <p class="text-4 text-grey ns-semibold">TCS</p>
        </div>
      </div>
    </div>

    <div class="tab " data-id="tab6">
      <div class="brand-wrapper">
        <div class="brand-box">
          <img src="../assets/img/logos/asainpaints.png" alt="">
          <p class="text-4 text-grey ns-semibold">Asian Paints</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/cochinminerals.png" alt="">
          <p class="text-4 text-grey ns-semibold">Cochin Minerals </p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/exxaro.png" alt="">
          <p class="text-4 text-grey ns-semibold">Exxaro Tiles</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/hindtn.png" alt="">
          <p class="text-4 text-grey ns-semibold">Hind.Tin Works</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/hindalco.png" alt="">
          <p class="text-4 text-grey ns-semibold">Hindalco Inds.</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/hindustancopper.png" alt="">
          <p class="text-4 text-grey ns-semibold">Hindustan Copper</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/jsw.png" alt="">
          <p class="text-4 text-grey ns-semibold">JSW Ispat Speci.</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/kotak.png" alt="">
          <p class="text-4 text-grey ns-semibold">Kotak Gold ETF</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/orient.png" alt="">
          <p class="text-4 text-grey ns-semibold">Orient Cement</p>
        </div>
      </div>
    </div>

    <div class="tab " data-id="tab7">
      <div class="brand-wrapper">
        <div class="brand-box">
          <img src="../assets/img/logos/godawari.png" alt="">
          <p class="text-4 text-grey ns-semibold">Godawari Power</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/petronet.png" alt="">
          <p class="text-4 text-grey ns-semibold">Petronet LNG</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/reliance.png" alt="">
          <p class="text-4 text-grey ns-semibold">Reliance Industries</p>
        </div>
      </div>
    </div>

    <div class="tab " data-id="tab8">
      <div class="brand-wrapper">
        <div class="brand-box">
          <img src="../assets/img/logos/bajaj.png" alt="">
          <p class="text-4 text-grey ns-semibold">Bajaj Finance</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/cams.png" alt="">
          <p class="text-4 text-grey ns-semibold">Cams Services</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/centrum.png" alt="">
          <p class="text-4 text-grey ns-semibold">Centrum Capital</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/fedralbank.png" alt="">
          <p class="text-4 text-grey ns-semibold">Federal Bank</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/hdfc.png" alt="">
          <p class="text-4 text-grey ns-semibold">HDFC Life Insur.</p>
        </div>
        <div class="brand-box">
          <img src="../assets/img/logos/powergrid.png" alt="">
          <p class="text-4 text-grey ns-semibold">Powergrid Infra.</p>
        </div>
      </div>
    </div>

  </div>
</div>