{{>header}}
<div class="yellow-bg">
  <div class="container">

    <div class="muif-wrapper flex-box">

      <div class="muif-left">
        <h3 class="heading-1 text-black">Student-Run Investment Fund</h3>
        <p class="text-1 text-black mt10">The <span class="text-danger">Masters’ Union Investment Fund</span> is a fully
          student-run fund with Assets Under Management worth Rs. 5 Cr.</p>
        <p class="text-1 mt30 tabmt20 mobmt20 text-black">Investment classes include:</p>
        <ul class="muif-list two-list mt30 tabmt10 mobmt10">
          <li><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" alt="">Venture Capital
          </li>
          <li class="mobmt10"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" alt="">Crypto &
            Blockchain</li>
          <li class="mt20 mobmt10"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" alt="">Public and
            Private
            Equities</li>
          <li class="mt20 mobmt10"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" alt="">Fund of
            Funds</li>
        </ul>
      </div>

      <div class="muif-right mobmt30 tabmt30">
        {{!-- <img src="../assets/img/muifmainright.jpg" alt=""> --}}
        <iframe width="100%" height="334" src="https://www.youtube.com/embed/C_6lIbplcy8" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

    </div>

    <div class="muif-assets-wrapper mt60 mobmt30">

      <div class="muif-assets">
        <img src="../assets/img/equity.png" alt="">
        <p class="text-1 ns-semibold">equity</p>
      </div>

      <div class="muif-assets mobmt15">
        <img src="../assets/img/income.png" alt="">
        <p class="text-1 ns-semibold">fixed income</p>
      </div>

      <div class="muif-assets mobmt15 tabmt20 ">
        <img src="../assets/img/reits.png" alt="">
        <p class="text-1 ns-semibold">REITs/InvITs</p>
      </div>

      <div class="muif-assets mobmt15 tabmt20">
        <img src="../assets/img/crypto.png" alt="">
        <p class="text-1 ns-semibold">Crypto/NFT</p>
      </div>

      <div class="muif-assets mobmt15 tabmt20 mt30">
        <img src="../assets/img/commodities.png" alt="">
        <p class="text-1 ns-semibold">commodities</p>
      </div>

      <div class="muif-assets mobmt15 tabmt20 mt30">
        <img src="../assets/img/startupsmuif.png" alt="">
        <p class="text-1 ns-semibold">startups</p>
      </div>

      <div class="muif-assets mobmt15 tabmt20 mt30">
        <img src="../assets/img/derivatives.png" alt="">
        <p class="text-1 ns-semibold">derivatives</p>
      </div>

      <div class="muif-assets mobmt15 tabmt20 mt30">
        <img src="../assets/img/realestate.png" alt="">
        <p class="text-1 ns-semibold">real estate</p>
      </div>

    </div>

  </div>
</div>


<div class="white-bg">
  <div class="container">

    <div class="philosphy-wrapper flex-box">

      <div class="philosphy-left">
        <h3 class="heading-3">
          <span class="highlight">Philosophy</span>
        </h3>
        <p class="text-2 text-black mt10">The Committee’s philosophy regarding investment risk, consistent with modern
          portfolio theory,
          is that risk cannot be eliminated but should be managed and that stakeholders have the obligation to utilise
          risk efficiently.
        </p>
        <p class="text-2 text-black mt35 mobmt20 tabmt20">
          The core value of the fund includes:
        </p>

        <ul class="muif-list philosphy-list mt15 mobmt20 tabmt10">
          <li><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" alt="">Educating the members and
            students of Masters’ Union on different investment methodologies and portfolio management</li>
          <li class="mt10"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" alt="">Setting up key
            financial goals</li>
          <li class="mt10"><img src="https://mastersunion.org/assets/img/svg/Group 3883.svg" alt="">Exploring new and
            upcoming areas of investment</li>
        </ul>
      </div>

      <div class="philosphy-right mobmt30 tabmt20">
        <img src="../assets/img/philosphy-right.png" alt="">
      </div>

    </div>

  </div>
</div>

<div class="yellow-bg">
  <div class="container">

    <div class="investment-wrapper flex-box">

      <div class="investment-left">
        <h3 class="heading-3 text-black"><span class="highlight">Investment Methodologies</span></h3>
        <p class="text-3 text-black mt10">The Fund Managers of the student-led fund have full responsibility for
          investment-related
          matters based on
          the defined asset class. The investment philosophy of the Committee is to create a management process with
          sufficient flexibility to capture investment opportunities as they may occur, yet maintain reasonable
          parameters to ensure prudence and care in the execution of the investment program.</p>
        <p class="text-3 text-black mt30 mobmt20 tabmt20">
          The fund follows a stringent process for capital allocation and investment in a particular asset class
          involving the following steps:
        </p>
        <ul class="muif-list investment-list mt15 mobmt10 tabmt10">
          <li><span class="number-list">1</span> EIC fundamental analysis</li>
          <li class="mt10"><span class="number-list">2</span> Technical analysis</li>
          <li class="mt10"><span class="number-list">3</span> Peer and mentor review</li>
          <li class="mt10"><span class="number-list">4</span> Voting for investment</li>
          <li class="mt10"><span class="number-list">5</span> Approval from the fund chairperson</li>
        </ul>
      </div>

      <div class="investment-right mobmt30 tabmt20">
        <img src="../assets/img/investmentright.png" alt="">
      </div>

    </div>

    <div class="muif-assets-wrapper investment-assets-wrapper mt50">

      <div class="muif-assets mobmt15">
        <img src="../assets/img/EIC.png" alt="">
        <p class="text-3 text-black ns-semibold">EIC(Economy/Industry/<br class="mob-hide">Company) Research</p>
      </div>

      <div class="muif-assets mobmt15">
        <img src="../assets/img/peeradvisory.png" alt="">
        <p class="text-3 text-black ns-semibold">Peer/Advisor/Mentor<br class="mob-hide">Review</p>
      </div>

      <div class="muif-assets mobmt15">
        <img src="../assets/img/capitalcall.png" alt="">
        <p class="text-3 text-black ns-semibold">Capital Call <br class="mob-hide">  Initiation</p>
      </div>

      <div class="muif-assets mobmt15">
        <img src="../assets/img/aproveorreject.png" alt="">
        <p class="text-3 text-black ns-semibold">Approval/<br class="mob-hide">Reject</p>
      </div>

      <div class="muif-assets mobmt15">
        <img src="../assets/img/funds.png" alt="">
        <p class="text-3 text-black ns-semibold">Funds Allocation &<br class="mob-hide">Successful Investment</p>
      </div>

    </div>

  </div>
</div>

<div class="white-bg investors-wrapper">
  <div class="container">

    <div class="investors flex-box">
      <img src="../assets/img/PoonawalaFincorp1.png" alt="">
      <img src="../assets/img/ChamanLalExportsLimied1.png" alt="">
      <img src="../assets/img/cdsl1.png" alt="">
    </div>

  </div>
</div>

<section class="yellow-bg">
  <div class="container">

    <h2 class="heading-2 text-black"><span class="highlight">Media Mentions</span></h2>

    <div class="swiper muif_news_slider mt30">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="muif-news">
            <div class="muif-news-header">
              <img src="../assets/img/vccircle.png" alt="">
            </div>
            <div class="muif-main-news">
              <img src="../assets/img/muifnewsvcircle.png" alt="">
            </div>
            <div class="muif-news-text">
              <p class="text-2 text-black">Gurugram B-school creating a student-managed micro fund to</p>
              <span class="date mt10"><img src="https://mastersunion.org/assets/img/svg/CalendarBlank.svg" alt=""> 28
                April, 2020</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="muif-news">
            <div class="muif-news-header">
              <img src="../assets/img/indiaeducation.png" alt="">
            </div>
            <div class="muif-main-news">
              <img src="../assets/img/indiaeducationnews.png" alt="">
            </div>
            <div class="muif-news-text">
              <p class="text-2 text-black">Masters’ Union School of Business sets up India’s largest student-managed
                investment
              </p>
              <span class="date mt10"><img src="https://mastersunion.org/assets/img/svg/CalendarBlank.svg" alt=""> 27
                April, 2020</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="muif-news">
            <div class="muif-news-header">
              <img src="../assets/img/pressreader.png" alt="">
            </div>
            <div class="muif-main-news">
              <img src="../assets/img/pressreadernews.png" alt="">
            </div>
            <div class="muif-news-text">
              <p class="text-2 text-black">India's largest student-managed investment fund</p>
              <span class="date mt10"><img src="https://mastersunion.org/assets/img/svg/CalendarBlank.svg" alt=""> 4
                May, 2020</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="muif-news">
            <div class="muif-news-header">
              <img src="../assets/img/outlook.png" alt="">
            </div>
            <div class="muif-main-news">
              <img src="../assets/img/pressreadernews.png" alt="">
            </div>
            <div class="muif-news-text">
              <p class="text-2 text-black">Rs 5-crore investment fund launched by Gurugram biz school</p>
              <span class="date mt10"><img src="https://mastersunion.org/assets/img/svg/CalendarBlank.svg" alt=""> 27
                April, 2020</span>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>