@media (max-width: 767px) {

	.muif-right {
		height: 223px;
	}

	.muif-right iframe {
		height: 100%;
	}

	.mob-hide {
		display: none;
	}

	.contact-card button {
		padding: 10px 0;
	}

	.mob-mt5 {
		margin-top: 5px;
	}

	.yellow-bg,
	.white-bg {
		padding: 60px 0px;
	}

	.mob-visible {
		display: block;
	}

	.mob-hide {
		display: none;
	}

	.logo {
		line-height: 0;
	}

	.logo img {
		width: 80%;
		image-rendering: auto;
	}

	.navbar.active {
		left: 0;
		transition: 0.4s ease-in-out;
	}

	.navbar {
		transition: 0.4s ease-in-out;
		width: 100%;
		position: absolute;
		left: -100%;
		top: 80px;
		height: 100%;
		background: var(--white);
		z-index: 3500;
		padding: 0 20px;
	}

	.nav-menu {
		width: 100%;
		height: 100%;
	}

	.nav-menu li {
		margin-right: 0;
		color: var(--black);
		font: 16px/19px "ns-bold";
		display: flex;
		padding: 15px 0;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--light-grey);
	}

	.nav-menu li:last-child {
		border: none;
	}

	.nav-link {
		width: 100%;
		display: block;
		line-height: 19px;
	}

	.navigation-wrapper {
		padding: 10px 20px;
	}

	.hamburger-menu {
		position: relative;
		max-width: 30px;
		width: 100%;
		line-height: 100%;
	}

	.hamburger-menu .ham-lines {
		display: block;
		width: 100%;
		height: 3px;
		background: var(--black);
		margin-top: 6px;
		position: relative;
		transition: 0.2s;
		opacity: 1;
	}

	.hamburger-menu .ham-lines:first-child {
		margin-top: 0;
	}

	.ham-button {
		width: 100%;
		background-color: transparent;
		border: none;
	}

	.ham-button.active .ham-lines {
		width: 70%;
		height: 2px;
	}

	.ham-button.active .ham-lines:nth-child(1) {
		transform: rotate(45deg);
		margin: 0;
		top: 6px;
		transition: 0.2s;
	}

	.ham-button.active .ham-lines:nth-child(2) {
		transform: rotate(-45deg);
		left: 0;
		top: 4px;
		margin: 0;
		transition: 0.2s;
	}

	.ham-button.active .ham-lines:last-child {
		opacity: 0;
		visibility: hidden;
	}

	.nav-menu .header-button {
		width: 100%;
		justify-content: center;
		border-radius: 10px;
		padding: 10px 20px;
	}

	.muif-assets {
		padding: 8px;
		max-width: 100%;
	}

	.muif-assets img {
		max-width: 48px;
		image-rendering: -webkit-optimize-contrast;
	}

	.muif-assets .text-1 {
		font-size: 14px;
		line-height: 120%;
	}

	.investment-assets-wrapper .muif-assets {
		max-width: 100%;
	}

	.performace-wrapper {
		overflow: hidden;
	}

	.investment-right img {
		image-rendering: -webkit-optimize-contrast;
	}

	/* Mentor section start */

	.masters-images {
		max-height: max-content;
		line-height: 0;
	}

	.masters-slides {
		min-height: 310px;
	}

	.slide-content {
		padding: 10px;
	}

	/* Mentor section ends */

	/* footer css Starts */

	footer .flexbox {
		flex-direction: column;
		gap: 20px;
	}

	.footer-info-box {
		max-width: 100%;
	}

	.footer-links-outer {
		max-width: 100%;
		justify-content: flex-start;
	}

	.footer-links:first-child {
		width: 50%;
	}

	.footer-links {
		width: 50%;
	}

	.copyright-section {
		align-items: flex-start;
		padding: 20px 0;
		flex-direction: column;
		gap: 10px;
	}

	.social-links {
		margin-top: 10px;
	}

	/* footer css ends */

	/* contact-us page  starts*/

	.contact-section {
		flex-direction: column;
		gap: 20px;
	}

	.contact-outer .flexbox {
		flex-direction: column;
		gap: 20px;
	}

	.contact-content {
		width: 100%;
	}

	.contact-card {
		padding: 30px 10px;
		width: 100%;
	}

	/* contact-us page  ends*/

	/* About-us section Starts */

	.aboutus-inner {
		width: 100%;
	}

	.about-list .flexbox {
		width: 48%;
		flex-direction: row;
	}

	.about-list .flexbox {
		width: 48%;
		flex-direction: row;
		align-items: flex-start;
	}

	.members-outer {
		flex-wrap: nowrap;
		overflow: auto;
		gap: 10px;
	}

	.members-card {
		width: 100%;
		overflow: hidden;
		min-height: 200px;
		min-width: 220px;
	}

	.ips-section {
		width: 100%;
	}

	.ips-list .flexbox {
		align-items: flex-start;
	}

	/* About-us section ends */

	.muif-list.two-list li {
		max-width: 100%;
		font-size: 16px;
	}

	.investors-wrapper::before,
	.investors-wrapper::after {
		width: 30%;
	}

	.evaluation-wrapper {
		justify-content: center;
	}

	.tab-menu ul {
		display: flex;
		overflow: auto;
	}

	.tab-menu ul li {
		min-width: max-content;
		margin-right: 10px;
		margin-bottom: 5px;
	}

	.tab-menu ul li a {
		padding: 12px 16px;
		font-size: 14px;
		min-width: max-content;
	}

	.tab-menu ul::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	.brand-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0px;
		gap: 20px;
		width: 100%;
		flex-wrap: wrap;
		background: var(--light-yellow);
	}

	.brand-box {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
		flex-direction: column;
		text-align: center;
		width: 47%;
	}

	.tab-menu ul::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: 0;
	}

	.tab-menu ul::-webkit-scrollbar-track {
		background: transparent;
	}

	.valuecharts {
		flex-wrap: wrap;
	}

	.piehcart {
		border: none;
		border-bottom: 2px dashed var(--black);
		padding-bottom: 20px;
	}

	.tab-menu ul {
		justify-content: flex-start;
	}

	.tab-menu ul li a {
		padding: 12px 16px;
		font-size: 14px;
		min-width: max-content;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.tab-hide {
		display: none;
	}

	.tab-visible {
		display: block;
	}

	.logo {
		line-height: 0;
	}

	.navbar.active {
		left: 0;
		transition: 0.4s ease-in-out;
	}

	.navbar {
		transition: 0.4s ease-in-out;
		width: 100%;
		position: absolute;
		left: -100%;
		top: 80px;
		height: 100%;
		background: var(--white);
		z-index: 3500;
		padding: 0 20px;
	}

	.nav-menu {
		width: 100%;
		height: 100%;
	}

	.nav-menu li {
		margin-right: 0;
		color: var(--black);
		font: 16px/19px "ns-bold";
		display: flex;
		padding: 15px 0;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--light-grey);
	}

	.nav-menu li:last-child {
		border: none;
	}

	.nav-link {
		width: 100%;
		display: block;
		line-height: 19px;
	}

	.navigation-wrapper {
		padding: 10px 20px;
	}

	.hamburger-menu {
		position: relative;
		max-width: 30px;
		width: 100%;
		line-height: 100%;
	}

	.hamburger-menu .ham-lines {
		display: block;
		width: 100%;
		height: 3px;
		background: var(--black);
		margin-top: 6px;
		position: relative;
		transition: 0.2s;
		opacity: 1;
	}

	.hamburger-menu .ham-lines:first-child {
		margin-top: 0;
	}

	.ham-button {
		width: 100%;
		background-color: transparent;
		border: none;
	}

	.ham-button.active .ham-lines {
		width: 70%;
		height: 2px;
	}

	.ham-button.active .ham-lines:nth-child(1) {
		transform: rotate(45deg);
		margin: 0;
		top: 6px;
		transition: 0.2s;
	}

	.ham-button.active .ham-lines:nth-child(2) {
		transform: rotate(-45deg);
		left: 0;
		top: 4px;
		margin: 0;
		transition: 0.2s;
	}

	.ham-button.active .ham-lines:last-child {
		opacity: 0;
		visibility: hidden;
	}

	.nav-menu .header-button {
		width: 100%;
		justify-content: center;
		border-radius: 10px;
		padding: 10px 20px;
	}

	.aboutus-inner {
		width: 100%;
	}

	.about-list .flexbox {
		flex-direction: row;
	}

	.members-card {
		width: 218px;
		min-height: 276px;
	}

	.ips-section {
		width: 100%;
	}

	.ips-list .flexbox {
		flex-direction: row;
	}

	footer .flexbox {
		align-items: flex-start;
		flex-direction: column;
		gap: 20px;
	}

	.footer-info-box {
		max-width: 100%;
		flex-direction: row;
	}

	.footer-links-outer {
		max-width: 100%;
		justify-content: flex-start;
	}

	.list-item:first-child {
		width: 70%;
	}

	.footer-links {
		width: 50%;
	}

	.copyright-section {
		align-items: flex-start;
		padding: 20px 0;
		flex-direction: column;
		gap: 10px;
	}

	.social-links {
		margin-top: 10px;
	}

	.contact-section {
		flex-direction: column;
		gap: 20px;
	}

	.contact-content {
		width: 100%;
	}

	.contact-card {
		padding: 20px;
		width: 70%;
	}

	.muif-assets .text-1 {
		font-size: 18px;
	}

	.muif-assets {
		max-width: 335px;
	}

	.investment-assets-wrapper {
		justify-content: flex-start;
		gap: 15px;
	}

	.investment-assets-wrapper .muif-assets {
		max-width: 220px;
	}

	.flex-box.investors {
		justify-content: center;
		gap: 20px;
	}

	.investors-wrapper::before,
	.investors-wrapper::after {
		background-position: 50% 35%;
	}

	.masters-slides {
		max-width: 100%;
		width: 100%;
		min-height: 340px;
	}

	.masters-images {
		max-height: max-content;
		line-height: 0;
	}

	.masters-images img {
		width: 100%;
		image-rendering: -webkit-optimize-contrast;
	}

	.portfolio-wrapper {
		align-items: flex-start;
	}

	.tab-menu ul li a {
		font-size: 14px;
		padding: 12px 14px;
	}

	.tab-menu ul {
		justify-content: flex-start;
	}

	.tab-menu ul li a {
		padding: 12px 16px;
		font-size: 14px;
		min-width: max-content;
	}

	.evaluation-wrapper .evaluation-box {
		max-width: 330px;
	}

	.brand-wrapper {
		padding: 44px 30px;
	}
}